.playlist {
    /* height: 100vh;
    color: white;
    overflow-y: overlay;
    background: linear-gradient( rgb(24, 43, 53), rgb(66 65 68));
    padding-bottom: 100px;
    width: 100%; */
}

.playlist::-webkit-scrollbar {
    display: none;
}

.playlist__info {
    display: flex;
    align-items: flex-end;
    padding: 2rem 1rem;
}

.playlist__shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.playlist__songs {
    z-index: 1;
    /* margin: 20px -30px;
    padding: 30px; */
}

.playlist__shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
  }

.playlist__icons {
    display: flex;
    align-items: center;
}

.playlist__info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 40px rgba(0,0,0,0.5); 
}

.playlist__icons > .MuiSvgIcon-root {
    margin-right: 20px;
}

.playlist__infoText >h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.playlist__infoText >p {
    font-size: 14px;
}

/* header */
.album__header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 10;
    height: 60px;
    transition: all 300ms ease-in;
}

.album__header--light {

}

.album__header--dark {
    background:#070707;
}