.home {}

.home::-webkit-scrollbar {
    display: none;
}

.home__section {
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 1rem;
    color: white;
}

.home__section::-webkit-scrollbar {
    display: none;
}


.home_title {
    padding: 1rem;
}

/* header */
.home__header {
    position: sticky;
    top: 0;
    background: #131313;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 10;
    transition: background 200ms ease-in;
    height: 60px;
}

.home__header--light {
    background: #131313;
}

.home__header--dark {
    background:#070707;
}