
.search {}

.search::-webkit-scrollbar {
    display: none;
}

.search__section {
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 1rem;
    color: white;
}

.search__section::-webkit-scrollbar {
    display: none;
}


.search__title {
    padding: 1rem;
}


.search__empty {
  background: linear-gradient(149.46deg,#450af5,#8e8ee5 99.16%);
  width: 400px;
  height: 300px;
  padding: 10px;
  border-radius: 5px;
}